.product {
  --green: #789D57;
  --light-green: #EEF2E9;
  --light-grey: #FFFFFF;
  --dark-grey: #B1B5B8;
}

.elm-datepicker--container {
  position: relative;
}

.elm-datepicker--input {
  font-size: 1.5rem;
  height: 45px;
  width: 91%;
}

.elm-datepicker--input:focus {
  outline: 0;
}

.elm-datepicker--picker {
  background-color: white;
  border: 1px solid var(--dark-grey);
  position: absolute;
  width: 91%;
  z-index: 10;
}

.elm-datepicker--picker-header,
.elm-datepicker--weekdays {
  background: var(--light-grey);
}

.elm-datepicker--picker-header {
  align-items: center;
  display: flex;
}

.elm-datepicker--prev-container,
.elm-datepicker--next-container {
  cursor: pointer;
  flex: 0 1 auto;
}

.elm-datepicker--month-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 0.5em;
  font-size: 2rem;
}

.elm-datepicker--month,
.elm-datepicker--year {
  cursor: default;
  flex: 1 1 auto;
  font-weight: 700;
  text-align: center;
  
}

.elm-datepicker--year {
  font-size: 2rem;
}

.elm-datepicker--prev,
.elm-datepicker--next {
  background-color: inherit;
  border: 10px solid transparent;
  cursor: pointer;
  display: block;
  height: 0;
  padding: 0 0.2em;
  width: 0;
}

.elm-datepicker--prev {
  border-right-color: var(--dark-grey);
}

.elm-datepicker--prev:hover {
  border-right-color: #333333;
}

.elm-datepicker--next {
  border-left-color: var(--dark-grey);
}

.elm-datepicker--next:hover {
  border-left-color: #333333;
}

.elm-datepicker--table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.9em;
  width: 100%;
}
.elm-datepicker--table td {
  height: 4em;
  text-align: center;
  width: 13%;
}

.elm-datepicker--row {
  border-top: 1px solid var(--dark-grey);
}

.elm-datepicker--dow {
  border-bottom: 1px solid var(--dark-grey);
  cursor: default;
}

.elm-datepicker--day {
  background: var(--light-green);
  cursor: pointer;
}

.elm-datepicker--day:hover {
  background: var(--green);
  color: white;
}

.elm-datepicker--disabled,
.elm-datepicker--disabled:hover {
  background: var(--light-grey);
  color: var(--dark-grey);
  cursor: default;
}

.elm-datepicker--picked {
  background: var(--green);
  color: white;
}

.elm-datepicker--picked:hover {
  background: var(--green);
  color: white;
}

.elm-datepicker--today {
  font-weight: bold;
}

.elm-datepicker--other-month {
  color: var(--dark-grey);
}

.elm-datepicker--other-month.elm-datepicker--disabled {
  color: #EEE;
}

.elm-datepicker--other-month.elm-datepicker--picked {
  color: white;
}

.gift-aid-container {
  background: no-repeat top 10px left/200px url('./giftaid-logo.png');
  border: solid 1px var(--dark-grey);
  margin-bottom: 20px;
  padding: 80px 20px 10px 20px;
}
